<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-6">
      <h2 class="text-center">Registro</h2>
      <hr>
  
      <form>
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Nombre</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Nombre del usuario" formControlName="name">
          </div>
        </div>
  
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" placeholder="Email del usuario" formControlName="email">
          </div>
        </div>
  
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Login</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Login del usuario" formControlName="login">
          </div>
        </div>
  
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Contraseña</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" placeholder="Contraseña del usuario" formControlName="password">
          </div>
        </div>
  
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Confirmar contraseña</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" placeholder="Confirmar contraseña del usuario" formControlName="confirmPassword">
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <button class="btn btn-primary float-end">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  