<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-6">
      <h2 class="text-center">Registro</h2>
      <hr>
  
      <form [formGroup]="myRegistro" (ngSubmit)="onSubmit()">
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Nombre</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Nombre del usuario" formControlName="name">
            @if(myRegistro.get('name')?.invalid && myRegistro.get('name')?.touched){
              <span class="text-danger">name es requerido</span>
            }
          </div>
        </div>
  
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" placeholder="Email del usuario" formControlName="email">
            @if(myRegistro.get('email')?.invalid && myRegistro.get('email')?.touched){
              <span class="text-danger">email es requerido</span>
            }
          </div>
        </div>
  
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Login</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Login del usuario" formControlName="login">
            @if(myRegistro.get('login')?.invalid && myRegistro.get('login')?.touched){
              <span class="text-danger">login es requerido</span>
            }
          </div>
        </div>
  
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Contraseña</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" placeholder="Contraseña del usuario" formControlName="password">
            @if(myRegistro.get('password')?.invalid && myRegistro.get('password')?.touched){
              <span class="text-danger">{{this.msgPassword}}</span>
            }
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <button class="btn btn-primary float-end">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  